<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ... Your head content ... -->
</head>
<body>
  <% gallery.forEach(item => { %>
    <% item.image.forEach(image => { %>
      <div>
        <img src="/show/<%= image %>" alt="<%= item.title %>" style="max-width: 300px; margin: 10px;">
        <a href="/delete/<%= image %>" style="color: red;">Delete</a>
      </div>
    <% }); %>
  <% }); %>
</body>
</html>
